#one{
    /* background-color: cyan; */
    /* color: blue; */
    padding: 10px;
    border: 10px red;
    margin: 13px;
    height: 40px;
    width: 50px;
}
img{
    height: 70px;
    width: 60px;
}
#two{
    padding-left: 350px;
    border: 10px red;
    margin-top:-580px;
    height: 40px;
    width: 50px;
}
#three{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#four{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#five{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#six{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#seven{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#eight{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#nine{
    padding-left: 350px;
    border: 10px red;
    margin-top:33px;
    height: 40px;
    width: 50px;
}
#ten{
    padding-left:190px;
    border: 10px red;
    margin-bottom:-468px;
    height: 40px;
    width: 50px;
}
#ele{
    padding-left:100px;
    border: 10px red;
    margin-top:-207px;
    height: 40px;
    width: 50px;
}
#twl{
    padding-left:280px;
    border: 10px red;
    margin-top:-45px;
    height: 40px;
    width: 50px;

}
