<html lang="en">
<head>
    
    <title>Layout one</title>
    <link rel="stylesheet" href="/CSS/Layout_1.css">
</head>
<body>
    <header>
        <h2>Indian Cricketers</h2>
    </header>
<nav>
    <a href="">Home </a>
    <a href="virat kholi">Virat kholi</a>
    <a href=" M S Dhoni">M S Dhoni </a>
    <a href=" JAddu"> Jaddu</a>
    <a href=" Yuzi"> Yuzi</a>
</nav>

<aside>
    <a href=""> Pandya</a>
    <a href=""> Raina</a>
    <a href=""> Siraj </a>
    <a href="">Sky</a>
    <a href="">Ashwin</a>
    <a href=""> Bhuvi</a>
    <a href="">Shami</a>
    <a href=""> Bumrah</a>
</aside>
<section>
    <h3>Cricketers Information :-</h3>
     
    
    <p><h4>Rohit</h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium perspiciatis fuga officia quos, commodi recusandae sunt at labore.
        <br>
        <button> Watch</button></p>
    
    
    <p><h4>Virat</h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium perspiciatis fuga officia quos, commodi recusandae sunt at labore . <br>
        <button>Watch</button></p>
    
    
    <p><h4>JAddu</h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium perspiciatis fuga officia quos, commodi recusandae sunt at labore . <br>
        <button>Watch</button></p>
        
    


</section>
<footer>
    <h2>Copyrights &copy 2023</h2>
    <h3>Managed By <a href=""> BCCI</a></h3>
</footer>

    
</body>
</html>